// app global css in SCSS form
// font poppins semi bold
@font-face {
  font-family: customfont;
  src: url(../fonts/Poppins-SemiBold.ttf);
}
.poppins {
  font-family: 'customfont';
}

// font poppins regular
@font-face {
  font-family: customfont2;
  src: url(../fonts/Poppins-Regular.ttf);
}
.poppinsregular {
  font-family: 'customfont2 ';
}
